{% load static %}

<form enctype="" action="" class="container" method="POST" id="form">

    <div class="text-center pb-8"><img alt="ROWT Logo" src="/static/assets/media/logos/logo_primary_letter.png"
            class="max-h-20px" />
    </div>

    <div class="">

        <div class="pb-4 text-center">
            <h3 class="font-weight-boldest text-dark font-size-h2 display-4">DOWNLOAD
            </h3>
            <p class="text-muted font-weight-bold font-size-md">Data such as <code>ROWT Estimates</code> are often sent to business
                emails.<br />
                Therefore, please provide yours to <mark>Get Your Estimate</mark> in your inbox.
            </p>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <input type="text"
                    class="form-control text-center font-weigth-bolder text-dark-50 form-control-solid h-auto p-6 rounded-lg font-size-h6"
                    placeholder="First Name" id="first_name" name="first_name" required />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <input type="email"
                    class="form-control text-center font-weigth-bolder text-dark-50 form-control-solid h-auto p-6 rounded-lg font-size-h6"
                    placeholder="Email Address" id="email_address" name="email_address" required />
            </div>
        </div>

        <button id="btn-submit" class="btn btn-dark font-weight-boldest font-size-h6 px-8 py-5 btn-block" type="submit">
            SEND
        </button>

        <div class="pt-5 text-center">
            <span class="text-muted font-weight-bolder font-size-h6"><a href="/" target="_blank">menu</a>
                / <a href="/" target="_blank">menu</a> / <a href="/" target="_blank">menu</a>
        </div>

    </div>

</form>