{% load static %}


<!DOCTYPE html>

<html lang="en">

<!-- ===============================================-->
<!--    header starts here -->
<!-- ===============================================-->

<head>
    <base href="../../">
    <meta charset="utf-8" />
    <title>Thanks | ROWT</title>
    <meta name="description"
        content="ROWT is built by Relcanonical; an Enterprise SEO Platform that allows you to auto-generate 400k+ dynamic pages with quality content in 2 seconds." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="{% static '/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/css/goat.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static '/assets/media/logos/logo_primary_letter.png' %}" />
    <script>(function(w){w.fpr=w.fpr||function(){w.fpr.q = w.fpr.q||[];w.fpr.q[arguments[0]=='set'?'unshift':'push'](arguments);};})(window);
        fpr("init", {cid:"jfai7otb"}); 
        fpr("click");
        </script>
        <script src="https://cdn.firstpromoter.com/fpr.js" async></script>
    <script>
        fpr("referral",{email:"donpislik@gmail.com"})
        </script>
</head>

<!-- ===============================================-->
<!--    header ends here -->
<!-- ===============================================-->

<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <div
            class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signup">
                    <form class="container" id="form">
                        <div class="text-center pb-8"><img alt="Relcanonical Logo"
                                src="{% static '/assets/media/logos/logo_primary_letter.png' %}" class="max-h-20px" />
                        </div>
                        <div class="pb-4 pt-lg-0 pt-0 text-center">
                            <h3 class="font-weight-boldest text-dark font-size-h4 display-2">Awesome, you got mail! ROWT
                                is<br /> brought to you by Relcanonical.</h3>
                            <p class="text-muted font-weight-bold font-size-h4">An Enterprise SEO Framework that allows
                                you to programmatically create, optimize,<br /> & scale 400k+ dynamic pages with
                                high-quality content in under 2 seconds.
                            </p>
                        </div>
                        <div class="text-center">
                            <a href="https://relcanonical.com/account/request" target="_blank"
                                class="btn btn-dark font-weight-boldest font-size-h6 px-8 py-6" type="button">💥 REQUEST
                                A FREEMIUM ACCOUNT 💥</a>
                        </div>
                        <div class="pt-5 text-center">
                            <span class="text-muted font-weight-bolder font-size-md"><a
                                    href="https://relcanonical.com/account/request" target="_blank">spend 25x lower</a>
                                / <a href="https://relcanonical.com/account/request" target="_blank">scale 99x
                                    faster</a>
                        </div>
                    </form>

                    <!-- ===============================================-->
                    <!--    footer starts here -->
                    <!-- ===============================================-->

                    <div class="login-footer pt-12 text-center">
                        <div class="container d-flex flex-column flex-md-row justify-content-md-center">
                            <div class="font-size-h6 font-weight-bold order-2 order-md-1 py-2 py-md-0">
                                <span class="text-dark-50">created with 💖 and ☕ to get businesses in search engines
                                    i.e. Google ... in under 24 hours</span>
                            </div>
                        </div>
                    </div>

                    <!-- ===============================================-->
                    <!--    footer ends here -->
                    <!-- ===============================================-->

                </div>
            </div>
        </div>
    </div>
</div>

</html>